* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

body {
  padding: 4%;
  background-color: #f5f6fa;
}

#root {
  margin: 0;
  padding: 0 0 8% 0;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
  background-color: #fafafa;
}

.container {
  padding: 4%;
}

nav {
  padding: 24px 4%;
  background-color: white;
  border-bottom: solid 1px #e8e8e8;
  display: flex;
  align-items: center;
  gap: 40px;
}

.page-name {
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  color: #0290ff;
}

.nav-links {
  display: flex;
  flex-grow: 1;
  list-style-type: none;
  gap: 40px;
}

.nav-link {
  opacity: 0.5;
  font-family: "Montserrat", sans-serif;
  font-size: 0.813rem;
  color: #121212;
  letter-spacing: 1.9px;
  text-decoration: none;
}

.active-link {
  opacity: 1;
}

.primary-color {
  color: #0290ff;
}

.account-btn {
  cursor: pointer;
  width: 2.953rem;
  height: 2.813rem;
  border: none;
  background-image: url('../images/Book\ store\ nav\ img.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.hr {
  height: 0.125rem;
  background-color: #e8e8e8;
  width: 100%;
  margin: 2.5rem 0 1.813rem 0;
}

.func-buttons {
  display: flex;
  align-items: center;
}

.func-button {
  font-family: "Roboto Slab", serif;
  background-color: transparent;
  border: none;
  color: #0290ff;
  font-size: 0.875rem;
  font-weight: 300;
  align-items: center;
  cursor: pointer;
}

.func-button:hover {
  opacity: 0.5;
}

.vr {
  width: 0.125rem;
  height: 1.5rem;
  background-color: #e8e8e8;
  margin: 0 1rem;
}

.books {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.938rem;
}

.book {
  background-color: white;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.book-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.b-category {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  opacity: 0.5;
  font-weight: bold;
  color: #121212;
}

.b-title {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 1.4em;
  letter-spacing: -0.2px;
  color: #121212;
  margin-top: -15px;
}

.b-author {
  font-family: "Roboto Slab", serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: #0290ff;
  margin-top: -15px;
}

.book-content {
  display: flex;
  justify-content: space-between;
}

.book-page {
  padding: 4%;
}

.progress-container {
  display: flex;
  align-items: center;
}

.progress-divider {
  width: 0.125rem;
  height: 4.375rem;
  margin: 0 3.688rem 0 4.938rem;
  background-color: #e8e8e8;
}

.current-chapter-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 14rem;
}

.current-chapter-label {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: 0.813rem;
  color: #121212;
  opacity: 0.5;
}

.current-chapter {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  margin-top: 0.438rem;
  font-size: 1rem;
  color: #121212;
  letter-spacing: -0.4px;
}

.primary-button {
  border: none;
  background-color: #0290ff;
  border-radius: 3px;
  padding: 8px 24px;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: white;
  cursor: pointer;
}

.primary-button-big {
  cursor: pointer;
  width: 20%;
  padding: 12px;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
  letter-spacing: 0.5px;
  color: white;
  font-size: 0.813rem;
  font-weight: bold;
  font-family: "Roboto Slab", serif;
}

.primary-button:hover,
.primary-button-big:hover {
  background-color: white;
  color: #b16d3d;
  border: 1px solid #90552b;
  transition: 0.2s ease-in-out;
}

.circular-progress-container {
  width: 5.625rem;
  height: 5.625rem;
  padding: 0.63rem 0.625rem 0.75rem 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circular-progress {
  position: absolute;
  border: solid 5px #0290ff;
  border-left-color: #e8e8e8;
  border-radius: 50%;
  width: 4.25rem;
  height: 4.25rem;
  border-style: solid;
  border-width: 5px;
  transform: rotate(45deg);
}

.percent-complete {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #121212;
}

.completed {
  font-family: "Montserrat", sans-serif;
  font-size: 00.875rem;
  opacity: 0.5;
  color: #121212;
}

.add-form {
  margin-top: 20px;
  display: flex;
  gap: 32px;
}

.add-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: -0.18px;
  color: #0290ff;
}

.input {
  padding: 12px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  letter-spacing: -0.15px;
  color: #121212;
}

.input:focus {
  outline: none;
  border: solid 1px #0290ff;
}

.input::placeholder {
  color: #c4c4c4;
}

.title-input {
  width: 50%;
}

.category-input {
  width: 30%;
}

.status-div {
  display: flex;
  justify-content: center;
}

.states-btn {
  margin-top: 50px;
}
